.menubutton{
    background-color: #4c8aed;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
}

.menu{
    position: absolute;
    display: inline-block;
    padding-top:20px;
}

.menu-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;

}

.menu-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover{
    background-color: #ddd;

}

.menu:hover .menu-content{
    display: block;

}

.menu:hover .menubutton{
    background-color: #2472f0;

}

#logo{
  width:72px;
  height: 64px;
  margin-left: 37%;
  padding-top:1.1%;
}

#logoname{
        font-size: 40px;
        font-family: arial black;
        display: inline;
        padding-left: 16px;
        padding-right: 5px;
        padding-top: 1.09%;
        position: absolute;
        text-decoration: none;
        color: white;
}

ul{
    list-style-type: none;
    padding-bottom: 20px;
    padding-left: 70px;
}

a{
    font-size: 18px;
    font-family: sans-serif;
}


nav{
    background-color: #4c8aed;
    margin-top: -16px;
    margin-left: -50px;
    margin-right: -8px;
    height: 95px;
}

h1{
  text-align: center;
  font-family: sans-serif;
  padding-top: 30px;


}

p{
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

body{
    background-image: url("../images/ocean.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

 @media only screen and (max-width: 1620px) {
  #logoname{
        font-size: 40px;
        font-family: arial black;
        display: inline;
        padding-left: 16px;
        padding-right: 5px;
        padding-top: 1.09%;
        position: absolute;
        text-decoration: none;
        color: white;
}

}